@use '../../assets/colors.scss';

.button {
	position: relative;
	width: 100%;
	padding: 1.2em 1em;
	background: colors.$dark-slate-grey;
	border: none;
	border-radius: 1rem;
	outline: none;
	color: colors.$white;
	font-weight: bolder;
	cursor: pointer;
	z-index: 1;

	&::before,
	&::after {
		position: absolute;
		background: colors.$gradient-bg;
		background: linear-gradient(
			90deg,
			colors.$gradient-initial 50%,
			colors.$gradient-final 100%
		);
		content: '';
		opacity: 0;
		transition: opacity 0.5s;
	}

	&::before {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 1rem;
		z-index: -1;
	}

	&::after {
		top: 10px;
		right: -5px;
		bottom: -5px;
		left: -5px;
		background: colors.$gradient-bg;
		filter: blur(1em);
		z-index: -5;
	}

	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		opacity: 1;
	}
}
