@use '../../assets/colors.scss';
@import url('../../assets/animations.scss');

.button {
	position: relative;
	width: 100%;
	padding: 1.2em 1em;
	background: colors.$dark-slate-grey;
	border: none;
	border-radius: 1rem;
	outline: none;
	color: colors.$white;
	font-weight: bolder;
	letter-spacing: .5px;
	cursor: pointer;
	transition: box-shadow 0.5s;
	z-index: 1;
	overflow: hidden;

	&__reflection {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 15%;
		background-color: colors.$charcoal-grey;
		transform: translateX(-150%) skewX(-20deg);
		animation: reflection 5s linear infinite;
		z-index: -2;
	}

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: colors.$gradient-bg;
		background: linear-gradient(90deg, colors.$gradient-initial 50%, 100%);
		border-radius: 1rem;
		content: '';
		opacity: 0;
		transition: opacity 0.5s;
		z-index: -1;
	}

	&:hover {
		box-shadow: 0 0 1.5rem colors.$gradient-initial;
	}

	&:hover::before,
	&:focus::before {
		opacity: 1;
	}
}