@use '../../assets/colors.scss';
@import url('../../assets/animations.scss');

.form {
	padding: 1em 0 1.8em;
	opacity: 0;
	animation: slide-up 1.5s forwards;

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.8em;
		font-size: 1.3rem;
		font-weight: 700;

		&-error {
			color: colors.$tomato;
			opacity: 1;
		}
	}

	&__input {
		width: 100%;
		padding: 1em;
		margin-bottom: 1.5em;
		border: 1px solid colors.$grey;
		border-radius: 1rem;
		outline: none;
		transition: border 0.2s;

		&::placeholder {
			color: colors.$grey;
		}

		&:focus {
			border: 1px solid colors.$dark-slate-grey;
			background: transparent;
			color: colors.$dark-slate-grey;
		}

		&--error {
			background: colors.$tomato-bg;
			border: 1px solid colors.$tomato;
			color: colors.$tomato;

			&::placeholder {
				color: colors.$tomato;
			}
		}
	}
}

@media (min-width: 992px) {
	.form {
		padding: 1.5em 0;
	}
}
