$tomato: #ff6257;
$orange: #ff9742;
$tomato-bg: #ff625733;
$dark-slate-grey: #242742;
$charcoal-grey: #36384e;
$grey: #9294a0;
$white: #ffffff;
$gradient-bg: #ff5173;
$gradient-initial: #ff5173;
$gradient-final: #ff634f;
$modal-shadow: #141625d6;