@use './assets/colors.scss';

.main {
	position: relative;
	background: colors.$white;
	min-height: 100vh;
	padding-top: 300px;

	&--confirmation {
		padding: 10em 2em 0;
	}
}

@media (min-width: 992px) {
	.main {
		position: static;
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 900px;
		min-height: 0;
		height: 100%;
		padding: 1.2em;
		border-radius: 2rem;
		box-shadow: 0px 4px 25px -5px colors.$dark-slate-grey;

		&--confirmation {
			padding: 0;
		}
	}
}
