@use './assets/colors.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: colors.$charcoal-grey;
}

body,
button,
input,
input::placeholder {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: colors.$dark-slate-grey;
}

@media (min-width: 992px) {
	body {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
